body article {
  width: 300px;
  height: 800px;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 60px 1fr 1fr;
  grid-template-areas: "header header header" "nav main main" "footer footer footer";
}
body article header {
  background-color: #ccc;
  text-align: center;
  grid-area: header;
  display: flex;
  flex-direction: column;
}
body article header p {
  justify-items: center;
}
body article nav {
  background-color: #ddd;
  text-align: center;
  grid-area: nav;
  display: flex;
  flex-direction: column;
}
body article nav p {
  justify-items: center;
}
body article main {
  background-color: #aaa;
  grid-area: main;
  text-align: center;
  display: flex;
  flex-direction: column;
}
body article main p {
  justify-items: center;
}
body article footer {
  background-color: #bbb;
  grid-area: footer;
  text-align: center;
  display: flex;
  flex-direction: column;
}
body article footer p {
  justify-items: center;
}
