h1{
	text-align:left;
	color:yellow;
	
}
h4{
	color:blue;
}
p{
	text-indent:32px;
	font-size:16px;
	line-height:16px;
}

body{
	background-image:url(../image/photo_1.jpg);
	
}
img{
	position:absolute;
	left:30%;
	margin-left:-181px;
	
}